<header></header>


<div>
  
    <div class="container">
	
	<!-- <div class="message-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  -->
       
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card" >
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>Mensagens</h3>
          </mat-card-title>
          <mat-card-content>
              <div class="message-container mat-elevation-z8">
			  
			  data = {{ data }}
             
				  <table mat-table [dataSource]="data" class="message-table"
					   matSort matSortActive="title" matSortDisableClear matSortDirection="asc">

				  <!-- Título da mensagem -->
				  <ng-container matColumnDef="title">
					<th mat-header-cell *matHeaderCellDef>Título</th>
					<td mat-cell *matCellDef="let row; let i = index">{{data[i].title}}</td>
				  </ng-container>

				  <!-- Hora da publicação -->
				  <ng-container matColumnDef="hour">
					<th mat-header-cell *matHeaderCellDef>Hora de cadastro</th>
					<td mat-cell *matCellDef="let row"> {{data.hour}}</td>
				  </ng-container>
				  
				  <!-- Assunto da mensagem -->
				  <ng-container matColumnDef="subject">
					<th mat-header-cell *matHeaderCellDef>Assunto da mensagem</th>
					<td mat-cell *matCellDef="let row"> {{data.subject}}</td>
				  </ng-container>
				  
				  <!-- Corpo da mensagem -->
				  <ng-container matColumnDef="body">
					<th mat-header-cell *matHeaderCellDef>Mensagem</th>
					<td mat-cell *matCellDef="let row"> {{data.body}}</td>
				  </ng-container>
				  
				   <!-- Excluir mensagem -->
				  <ng-container matColumnDef="delete">
					<th mat-header-cell *matHeaderCellDef></th>
					<td mat-cell *matCellDef="let row"> --</td>
				  </ng-container>

				  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/product-details/', row.id]"></tr>
				</table>
				
                </div> 
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
