<header></header>  
 
<div class="container">
	<div class="card-container">
	  <!-- <div class="example-loading-shade"
		   *ngIf="isLoadingResults">
		<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
	  </div>  -->

	  <div fxLayout="row" fxLayoutAlign="center center" class="content">
	  <mat-card class="card">
	  
		<form [formGroup]="messageForm" (ngSubmit)="onFormSubmit(messageForm.value)">
		
		  <mat-form-field class="example-full-width">
			<input matInput placeholder="Título da Mensagem" formControlName="title"
				   [errorStateMatcher]="matcher">
		 <!--   <mat-error>
			  <span *ngIf="!messageForm.get('messsage_title').valid && messageForm.get('message_title').touched">Preencha com o título da mensagem</span>
			</mat-error>  -->
		  </mat-form-field>
		  
		  <mat-form-field class="example-full-width">     
				   
			<textarea matInput placeholder="Conteúdo da mensagem" formControlName="body"
				   [errorStateMatcher]="matcher"></textarea>							  
			<mat-error>
			  <span *ngIf="!messageForm.get('body').valid && messageForm.get('body').touched">Preencha com o conteúdo da mensagem</span>
			</mat-error>
		  </mat-form-field>
		  
		  <mat-form-field class="example-full-width">
			<input matInput placeholder="Assunto da mensagem" formControlName="subject"
				   [errorStateMatcher]="matcher">
		   <!-- <mat-error>
			  <span *ngIf="!messageForm.get('message_subject').valid && productForm.get('message_subject').touched">Preencha com o assunto da mensagem</span>
			</mat-error>  -->
		  </mat-form-field>
		  
		  
		  
		  
		  <div class="button-row">
			<button type="submit"  mat-flat-button color="primary"><mat-icon>cadastrar</mat-icon> cadastrar</button>
		  </div>
		 
		</form>
	  </mat-card>
	</div>
	</div>

 </div>