<header></header>

<div class="container">
	<div class="card-container">

		<div fxLayout="row" fxLayoutAlign="center center" class="content">
			<mat-card class="card">

				<form [formGroup]="messageForm" (ngSubmit)="onFormSubmit(messageForm.value)">

					<mat-form-field class="example-full-width">
						<input matInput placeholder="Título da Mensagem" formControlName="title" [errorStateMatcher]="matcher">

					</mat-form-field>

					<mat-form-field class="example-full-width">

						<textarea matInput placeholder="Conteúdo da mensagem" formControlName="body"
							[errorStateMatcher]="matcher"></textarea>

					</mat-form-field>

					<mat-form-field class="example-full-width">
						<input matInput placeholder="Assunto da mensagem" formControlName="subject" [errorStateMatcher]="matcher">

					</mat-form-field>



					<div class="button-row">
						<button type="submit" [disabled]="!messageForm.valid" mat-flat-button color="primary">
							<mat-icon>save</mat-icon> cadastrar
						</button>
					</div>

				</form>
			</mat-card>
		</div>
	</div>

</div>