<header></header>
<div>

  <div class="container">

    <div class="edit-container ">

      <div fxLayout="row" fxLayoutAlign="center center" class="content">

        <mat-card class="card">
          <form [formGroup]="messageForm" (ngSubmit)="onFormSubmit(messageForm.value)" class="form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Título da mensagem" formControlName="title" [errorStateMatcher]="matcher">
              <mat-error>
                <span *ngIf="!messageForm.get('title').valid && messageForm.get('title').touched">Preencha com o título
                  da mensagem</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">

              <textarea matInput placeholder="Conteúdo da mensagem" formControlName="body"
                [errorStateMatcher]="matcher"></textarea>
              <mat-error>
                <span *ngIf="!messageForm.get('body').valid && messageForm.get('body').touched">Preencha com a
                  mensagem</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Assunto da mensagem" formControlName="subject" [errorStateMatcher]="matcher">
              <mat-error>
                <span *ngIf="!messageForm.get('subject').valid && messageForm.get('subject').touched">Preencha comn o
                  assunto da mensagem</span>
              </mat-error>
            </mat-form-field>
            <div class="button-row">
              <button type="submit" [disabled]="!messageForm.valid" mat-flat-button color="primary">
                <mat-icon>save</mat-icon> salvar
              </button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>