<header></header>

<div>
  
    <div class="container">
	
<div class="example-container mat-elevation-z8">
 <!-- <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>  -->
  <div class="button-row">
    <a mat-flat-button color="primary" (click)="productDetails()"><mat-icon>info</mat-icon></a>
  </div>
  
  <mat-card class="example-card">
    <form [formGroup]="messageForm" (ngSubmit)="onFormSubmit(messageForm.value)">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Título da mensagem" formControlName="title"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!messageForm.get('title').valid && messageForm.get('title').touched">Preencha com o título da mensagem</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Corpo da mensagem" formControlName="body"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!messageForm.get('body').valid && messageForm.get('body').touched">Preencha com a mensagem</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Assunto da mensagem" formControlName="subject"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!messageForm.get('subject').valid && messageForm.get('subject').touched">Preencha comn o assunto da mensagem</span>
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button type="submit" [disabled]="!messageForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon> salvar</button>
      </div>
    </form>
  </mat-card>
</div>
</div>
</div>