<h1 mat-dialog-title>{{data}}</h1>
<div mat-dialog-content>
  <form class="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Título da Mensagem" type="text" required [(ngModel)]="messagePost.title" name="title">
    </mat-form-field>
	<mat-form-field>
      <input matInput placeholder="Assunto da Mensagem" type="text" required [(ngModel)]="messagePost.subject" name="subject">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Corpo da Mensagem" required [(ngModel)]="messagePost.body" name="body"></textarea>
    </mat-form-field>
	<mat-form-field>
      <input matInput placeholder="Assunto da Mensagem" type="text" required [(ngModel)]="messagePost.subject" name="subject">
    </mat-form-field>
   
    <button mat-raised-button type="submit" color="primary">Cadastrar</button>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="close" (click)="onNoClick()" color="warn">Cancelar</button>
</div>