.card {
  min-width: 80%;
  
	h2{
		font-size:50px;
		margin-bottom:0;
	}
  
	.message-container {
	  display: flex;
	  flex-direction: column;
	  max-height: 500px;
	  min-width: 100%;
	}
	
	.col{
		width:45%;
		float:left;
		&.col-left{
			padding-left:8px;
			.buttons{
				margin-top:-45px;
				padding-left:10px;
			}
		}
		&.col-right{
			padding:20px;
			background: #222;
			margin-top:25px;
		}
	}

}

br{
	display:none;
}

.message-table{
	width:100%;
}

.message-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.mat-flat-button {
  margin: 5px;
}